@font-face {
    font-family: "Neue-Helvetica";
    src: url("../../assets/fonts/Neue-Helvetica/NeueHelveticaforZara-Roman.woff2") format("woff2"),
         url("../../assets/fonts/Neue-Helvetica/NeueHelveticaforZara-Roman.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Neue-Helvetica";
    src: url("../../assets/fonts/Neue-Helvetica/NeueHelveticaforZara-Bold.woff2") format("woff2"),
         url("../../assets/fonts/Neue-Helvetica/NeueHelveticaforZara-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
