/* Elements */

a {
  color: var(--main-color-blue);
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  margin: 0 10px;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 16px;
}

/* Animations */

@keyframes loader-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* Display */

.hide {
  display: none;
}

/* Headers */

.main-header {
  margin-bottom: 20px;
  position: relative;
}

/* Headings */

h1 {
  border-bottom: 1px solid var(--main-color-gray-light);
  color: var(--main-color-blue);
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
}

h2 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  color: var(--main-color-gray-dark);
  font-size: 0.75rem;
  font-weight: 400;
}

hr {
  border-color: rgba(255, 255, 255, 0.25);
  margin: 15px 0;
}

/* Forms */

input[type="text"] {
  border: 1px solid var(--main-color-gray-light);
  border-radius: 4px;
  color: var(--main-color-gray-dark);
  padding: 5px 10px;
}

input[type="text"]::placeholder {
  color: var(--main-color-gray-dark);
}

.field-label {
  margin-bottom: 10px;
}

.field-value {}

/* Grid */

.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

/* Loaders */

.loader-ellipsis {
  height: 64px;
  position: absolute;
  right: 0;
  top: -16px;
  width: 64px;
}

.loader-ellipsis div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  background-color: var(--main-color-blue);
  border-radius: 50%;
  height: 11px;
  position: absolute;
  top: 27px;
  width: 11px;
}

.loader-ellipsis div:nth-child(1) {
  animation: loader-ellipsis1 0.6s infinite;
  left: 6px;
}

.loader-ellipsis div:nth-child(2) {
  animation: loader-ellipsis2 0.6s infinite;
  left: 6px;
}

.loader-ellipsis div:nth-child(3) {
  animation: loader-ellipsis2 0.6s infinite;
  left: 26px;
}

.loader-ellipsis div:nth-child(4) {
  animation: loader-ellipsis3 0.6s infinite;
  left: 45px;
}

/* Tables */

table {
  background-color: transparent;
  border-collapse: collapse;
  margin-bottom: 1rem;
  max-width: 100%;
  text-align: left;
  width: 100%;
}

table td, 
table th {
  padding: .75rem;
  vertical-align: top;
}

table th {
  border-bottom: 1px solid var(--main-color-gray-dark);
  font-weight: 700;
}

table td {
  border-top: 1px solid var(--main-color-gray-medium);
}

table.striped tbody tr:nth-child(even) {
  background-color: var(--main-color-gray-light);
}

/* Text */

.text-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Templates */

/* Podcasts list */

.podcasts-list-section .podcasts-counter {
  background-color: var(--main-color-blue);
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2px 6px;
}

.podcasts-list-section .podcasts-filter {
  margin: 20px 0;
  text-align: right;
}

.podcasts-list-section .podcasts-list .podcast-item {
  box-shadow: var(--main-shadow);
  color: var(--main-text-color);
  cursor: pointer;
  display: block;
  margin: 80px 0;
  padding: 60px 10px 5px;
  position: relative;
  text-align: center;
}

.podcasts-list-section .podcasts-list .podcast-item img {
  border-radius: 50%;
  left: calc(50% - 50px);
  max-width: 100px;
  position: absolute;
  top: -40px;
}

/* Podcast detail */

.podcast-detail-section .podcast-author {
  font-style: italic;
  text-align: left;
}

.podcast-detail-section .podcast-description {
  font-size: 0.75rem;
  text-align: left;
}

.podcast-detail-section .podcast-description .field-value {
  font-style: italic;
}

.podcast-detail-section .podcast-image {
  border-radius: 8px;
}

.podcast-detail-section .podcast-info {
  box-shadow: var(--main-shadow);
  color: var(--main-text-color);
  display: block;
  margin-bottom: 20px;
  padding: 20px 10px;
  text-align: center;
}

.podcast-detail-section .podcast-name {
  text-align: left;
  text-transform: none;
}

.podcast-detail-section td.episode-duration {
  text-align: center;
}

.podcast-detail-section .episodes-count {
  box-shadow: var(--main-shadow);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 20px 10px;
}

.podcast-detail-section .episodes-list {
  box-shadow: var(--main-shadow);
  padding: 20px;
  margin-top: 20px;
}

/* Episode detail */

.episode-detail-section .episode-detail {
  box-shadow: var(--main-shadow);
  padding: 20px;
}

.episode-detail-section .episode-description {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0;
}

.episode-detail-section .episode-player .audio-player {
  width: 100%;
}

.episode-detail-section .episode-title {
  font-size: 1.25rem;
  font-weight: 700;
}
