:root {
  /* Color */
  --main-bg-color: #fff;
  --main-text-color: #222;
  --main-color-blue: #337ab7;
  --main-color-gray-dark: #999;
  --main-color-gray-medium: #ccc;
  --main-color-gray-light: #eee;
  /* Font */
  --main-font-family: "Neue-Helvetica", sans-serif;
  /* Shadow */
  --main-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}